footer.page--footer
    .page--footer__biggestDiv
        .row.mx-0.footer--inner
            .col-md-3.px-0
                img.footer--inner__logo.img-fluid(src="img/whiteLogo.png")
            .col-md-9.px-0
                .row.mx-0.footer--contents
                    .footer--content.footer--content__first
                        a.footer--link(href="")
                            | Haqqımızda
                        a.footer--link(href="")
                            | Xidmətlərimiz
                        a.footer--link(href="")
                            | Müştərilərə
                        a.footer--link(href="")
                            | Avadanlıqlar
                    .footer--content.footer--content__second
                        a.footer--link(href="")
                            | Wialon
                        a.footer--link(href="")
                            | Xəbərlər
                        a.footer--link(href="")
                            | Vakansiyalar
                        a.footer--link(href="")
                            | Korporativ Əməkdaşlıq
                    .footer--content.footer--content__contact
                        a.footer--link(href="")
                            | Əlaqə
                        a.contact__number(href="tel:+994  70 983 46 54")
                            img.contactIcon(src="img/phone-call.png")
                            | +994  70 983 46 54
                        .contact__email
                            img.contactIcon(src="img/mail.png")
                            a(href="mailto:info@fms.az") info@fms.az
                            | /
                            a(href="mailto:sales@fms.az") sales@fms.az
                        a.contact__address(href="")
                            img.contactIcon(src="img/path.png")
                            | Şəfayət Mehdiyev küç. 133A Yasamal / Bakı
                    .footer--content__social--accounts
                        a.social--accounts__link.instagram--link(href="")
                            img.instagram(src="img/instagram.png")
                        a.social--accounts__link(href="")
                            img.facebook(src="img/facebook.png")
        .copyright--line
            p.copyright--line__text
                | Copyright 2019 FMS All Right Reserved 