footer.page-footer
    .container
        .row.mx-0.footer-inner
            .col-md-3.px-0.footerLogo
                img.footer-inner__logo.img-fluid(src="img/whiteLogo.png")
            .col-md-9.px-0
                .row.mx-0.footer-contents
                    .footer-content.content--first
                        a.footer-link(href="")
                            | Haqqımızda
                        a.footer-link(href="")
                            | Xidmətlərimiz
                        a.footer-link(href="")
                            | Müştərilərə
                        a.footer-link(href="")
                            | Avadanlıqlar
                    .footer-content.content--second
                        a.footer-link(href="")
                            | Wialon
                        a.footer-link(href="")
                            | Xəbərlər
                        a.footer-link(href="")
                            | Vakansiyalar
                        a.footer-link(href="")
                            | Korporativ Əməkdaşlıq
                    .footer-content.content--contact
                        a.footer-link(href="")
                            | Əlaqə
                        a.contact-number(href="tel:+994  70 983 46 54")
                            img.contactIcon(src="img/phone-call.png")
                            | +994  70 983 46 54
                        .contact-email
                            img.contactIcon(src="img/mail.png")
                            a(href="mailto:info@fms.az") info@fms.az
                            | /
                            a(href="mailto:sales@fms.az") sales@fms.az
                        a.contact-address(href="")
                            img.contactIcon(src="img/path.png")
                            | Şəfayət Mehdiyev küç. 133A Yasamal / Bakı
                    .social-accounts
                        a.social-accounts__link.instagram-link(href="")
                            img.instagram(src="img/instagram.png")
                        a.social-accounts__link.fb-link(href="")
                            img.facebook(src="img/facebook.png")
        .copyright
            p.copyright__text
                | Copyright 2019 FMS All Right Reserved 