.py-4.container.navContainer
  nav.navbar.navbar-expand-lg.myNav
    a.navbar-brand(href='#').navbar-logo
      img.img-fluid(src="img/fmsLogo.png")
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo02' aria-controls='navbarTogglerDemo02' aria-expanded='false' aria-label='Toggle navigation')
      img.burgerIcon(src="img/burgerIcon.png")
    #navbarTogglerDemo02.collapse.navbar-collapse.collapse-box
      .searchBox
        form(action='', method='get').searchForm
          input#search.searchInput
          button.searchBtn
            i.fa.fa-search
      ul.navbar-nav.mt-lg-0.ul-box
        li.nav-item.drop
          a.nav-link.navbarLink Haqqımızda 
          .dropdown
            a.nav-link.navbarLink(href='about.html') Şirkət haqqında
            a.nav-link.navbarLink(href='certificates.html') Uğurlarımız və Sertifikatlar
        li.nav-item
          a.nav-link.navbarLink(href='services.html') Xidmətlərimiz
        li.nav-item
          a.nav-link.navbarLink(href='wialon.html') Wialon
        li.nav-item
          a.nav-link.navbarLink(href='equipments.html') Avadanlıqlar
        li.nav-item.drop
          a.nav-link.navbarLink Müştərilərə
          .dropdown
            a.nav-link.navbarLink(href='givingback.html') Məhsulun qaytarılması
            a.nav-link.navbarLink(href='faq.html') Tez-tez verilən suallar
            a.nav-link.navbarLink(href='customerRights.html') Müştəri Hüquqları
            a.nav-link.navbarLink(href='warranty.html') Zəmanət Şərtləri
        li.nav-item
          a.nav-link.navbarLink(href='corporation.html') Korporativ Əməkdaşlıq
        li.nav-item
          a.nav-link.navbarLink(href='news.html') Xəbərlər
        li.nav-item
          a.nav-link.navbarLink(href='contact.html') Əlaqə
      .collapse-box__search
        form.collapse-box__form(action="", method="get")
          label(for="search")
            i.fa.fa-search.searchIcon
            i.fa.fa-times.timesIcon
            //- i.fi-xwluxl-times-wide.timesIcon
      .collapse-box__language
        form.option-form
          select.option-group
            option.option(value="") AZ
            option.option(value="") EN
            option.option(value="") RU
