.slider.slider-area
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png' alt='partner')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png' alt='partner')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png' alt='partner')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png' alt='partner')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png' alt='partner')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png' alt='partner')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png' alt='partner')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png' alt='partner')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png' alt='partner')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png' alt='partner')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png' alt='partner')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png' alt='partner')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png' alt='partner')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png' alt='partner')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png' alt='partner')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png' alt='partner')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png' alt='partner')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png' alt='partner')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png' alt='partner')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png' alt='partner')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png' alt='partner')
