.slider.slider-area
  div
    img.reponsiveImg(src='img/partner.png')
  div
    img.reponsiveImg(src='img/partner.png')
  div
    img.reponsiveImg(src='img/partner.png')
  div
    img.reponsiveImg(src='img/partner.png')
  div
    img.reponsiveImg(src='img/partner.png')
  div
    img.reponsiveImg(src='img/partner.png')
  div
    img.reponsiveImg(src='img/partner.png')
  div
    img.reponsiveImg(src='img/partner.png')
  div
    img.reponsiveImg(src='img/partner.png')
  div
    img.reponsiveImg(src='img/partner.png')
  di
    img.reponsiveImg(src='img/partner.png')
  div
    img.reponsiveImg(src='img/partner.png')
  div
    img.reponsiveImg(src='img/partner.png')
  div
    img.reponsiveImg(src='img/partner.png')
  div
    img.reponsiveImg(src='img/partner.png')
  div
    img.reponsiveImg(src='img/partner.png')
  div
    img.reponsiveImg(src='img/partner.png')
  div
    img.reponsiveImg(src='img/partner.png')
  div
    img.reponsiveImg(src='img/partner.png')
  div
    img.reponsiveImg(src='img/partner.png')
  div
    img.reponsiveImg(src='img/partner.png')
