.slider.slider-area
  div
    a
      img.reponsiveImg(src='img/partner.png')
  div
    a
      img.reponsiveImg(src='img/partner.png')
  div
    a
      img.reponsiveImg(src='img/partner.png')
  div
    a
      img.reponsiveImg(src='img/partner.png')
  div
    a
      img.reponsiveImg(src='img/partner.png')
  div
    a
      img.reponsiveImg(src='img/partner.png')
  div
    a
      img.reponsiveImg(src='img/partner.png')
  div
    a
      img.reponsiveImg(src='img/partner.png')
  div
    a
      img.reponsiveImg(src='img/partner.png')
  div
    a
      img.reponsiveImg(src='img/partner.png')
  div
    a
      img.reponsiveImg(src='img/partner.png')
  div
    a
      img.reponsiveImg(src='img/partner.png')
  div
    a
      img.reponsiveImg(src='img/partner.png')
  div
    a
      img.reponsiveImg(src='img/partner.png')
  div
    a
      img.reponsiveImg(src='img/partner.png')
  div
    a
      img.reponsiveImg(src='img/partner.png')
  div
    a
      img.reponsiveImg(src='img/partner.png')
  div
    a
      img.reponsiveImg(src='img/partner.png')
  div
    a
      img.reponsiveImg(src='img/partner.png')
  div
    a
      img.reponsiveImg(src='img/partner.png')
  div
    a
      img.reponsiveImg(src='img/partner.png')
