.slider.slider-area
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png')
  div
    a(href="")
      img.reponsiveImg(src='img/partner.png')
