.aboutHeader
	font: 500 32px $main-font
	color: $main-color
	text-align: center 
	margin: 5.6rem 0 5.9rem 0
.about-text
	font-family: $main-font
	font-size: 14px
	color: $main-color
.about-img
	margin-right: 8.1rem
.m-top
	margin-top: 9.6rem
.m-bottom
	margin-bottom: 15rem
@media (max-width: 345px)
	.about-container
		width: 100%!important
	// .about-text
	// 	width: 100%
	.about-img
		width: 100%
		margin-right: 0
		margin-bottom: 10px