.contact-item__text
	font: 200 14px $main-font
	color: $third-color
.contact-item__link
	color: $button-color!important
	&:hover
		text-decoration: underline!important
.contactInput
	border: solid 1px $main-color
	border-radius: 5px
	font: 400 14px $main-font
	color: $main-color
.contact-form__item
	margin-bottom: 6.8rem
.contact-form__input-box
	display: flex
	justify-content: space-between
@media (max-width: 991px)
	.contactInput
		width: 100%!important
	.contact-form__input-box
		display: block 