.page-footer
	background-color: $second-color
	display: flex
	justify-content: center
	color: white
.footer-inner
	margin-top: 6rem
	a
		color: white!important
		cursor: pointer
	.footer-contents
		font-size: 14px!important
		font-family: $main-font
		.footer-content
			display: flex
			flex-direction: column
		.footer-link
			font-weight: 400
			margin-bottom: 13px
			&:hover
				opacity: 0.5
		.contact-number
			@extend %contactElements
		.contact-email
			@extend %contactElements
		.contact-address
			@extend %contactElements
%contactElements
	font-weight: 300
	margin-bottom: 10px
	&:hover
		opacity: 0.5
.content--first
	width: 19.58%
.content--second
	width: 27.88%
.content--contact
	width: 41.89%
.contactIcon
	margin-right: 7px
.social-accounts__link
	font-size: 10px
	&:hover
		opacity: 0.5
.copyright
	margin-top: 9.3rem
	padding-top: 1.3rem
	font-size: 12px
	font-weight: 300
	border-top: solid 1px white
	.copyright__text
		margin-bottom: 4.6rem
@media (max-width: 1050px)
	.social-accounts
		margin-right: -9px
@media (max-width: 900px)
	.footer-inner__logo
		font-size: 6px
	.social-accounts__link
		font-size: 6px
@media (max-width: 767px)
	.footerLogo
		margin-bottom: 13px
	.content--first
		width: 100%
	.content--second
		width: 100%
	.content--contact
		width: 100%