.myNav
  padding: 0!important
  font: 400 14px $main-font
  text-decoration: none
.navbar-logo
  font-size: 10px!important
  margin-right: 16.86em!important
.burgerIcon
  width: 25px
.ul-box
  float: right
.navbarLink
  min-width: 100%
  color: $main-color!important
  font: 400 14px $main-font
  padding-left: 0!important
  padding-right: 1.7rem!important
  &:hover
    color: $button-color!important
    opacity: 0.6
    transition: 0.4s all
.collapse-box__search
  margin-right: 2rem
.collapse-box__form
  width: 13px
  i
    cursor: pointer
.option-form
  outline: 0
.option-group
  outline: 0
  border: 0
  cursor: pointer
.option
  cursor: pointer
  outline: 0
  border: 0
  color: $main-color
  &:hover
    color: $second-color
.timesIcon
  display: none!important
.searchBox
  display: none
  position: absolute
  top: 70px
  left: 0
  right: 0
  margin-left: 60rem
  z-index: 800
  width: 400px
.searchForm
  display: flex
  justify-content: center
.searchInput
  outline: 0
  border: 0
  font: 400 14px $main-font
  border-radius: 20px 0 0 20px
  padding: 5px 5px 5px 12px
  width: 88%
  height: 100%
  box-shadow: 0 10px 20px rgba(0,0,0,0.19)
.searchBtn
  outline: 0
  border: 0
  font: 400 14px $main-font
  border-radius: 0 20px 20px 0
  margin-left: -3px
  padding: 5px 
  width: 12%
  background-color: white
  box-shadow: 0 10px 20px rgba(0,0,0,0.19)
.drop
  .navbarLink
    cursor: pointer
.dropdown
  display: none
  border-radius: 3px
  padding-left: 4px 
  position: absolute!important
  position: absolute
  background-color: white
  transition: all 1s ease
  z-index: 200
.drop:hover .dropdown
  display: block
  transition: 0.6s all
@media (max-width: 1200px)
  html
    font-size: 8px!important
  .navbar-logo
    font-size: 2px!important
@media (max-width: 991px)
  .dropdown
    position: relative!important
    padding-left: 4rem
  .ul-box
    display: block
    float: left
    margin-left: 2rem
    margin-top: 0!important
  .searchBox
    position: relative
    display: block!important
    width: 100%!important
    margin: 0 0 8px 0
    top: 0
    padding: 0 2rem
    // .searchInput
    //   border-top: solid 1px $main-color
    //   border-bottom: solid 1px $main-color
    //   border-left: solid 1px $main-color
    // .searchBtn
    //   border-top: solid 1px $main-color
    //   border-bottom: solid 1px $main-color
    //   border-right: solid 1px $main-color
  .collapse-box__search
    margin-left: 2rem
    margin-bottom: 0.5rem
  .collapse-box__language
    margin-left: 2rem
  .collapse-box__search
    display: none
    width: 142px
    margin-right: 0 
  .collapse-box__language
    width: 142px
    margin-top: 1rem
    margin-bottom: 1rem