.navbarr
  padding: 0!important
  font: 400 14px $main--font
  text-decoration: none
  // background-color: maroon
.navbar--logo
  // display: flex!important
  // justify-content: center
  font-size: 10px!important
  margin-right: 16.86em!important
  // width: 28%
  // background-color: olive
.collapse--box 
  // background-color: orange
.ul--box
  // background-color: aqua
.navLogoSmall
  width: 15%!important
  transition: .5s all
.burgerIcon
  width: 25px
.ul--box
  float: right
.navbar__link
  min-width: 100%
  color: $main--color
  font: 400 14px $main--font
  padding-left: 0!important
  padding-right: 1.7rem!important
  &:hover
    color: $second--color
    opacity: 0.6
.collapse--box__search
  margin-right: 2rem
.collapseBox__form
  width: 13px
.b-search-input
  width: 100%
  max-width: 0
  // width: 100px
  opacity: 0
  transition: .5s all
  // border: solid 0.6px $main--color
  padding: 0
  border-radius: 10px
.b-search-input:focus
  max-width: 90px
  opacity: 1
  border-color: white
  margin-right: 2px
  border: solid 0.6px $main--color
  outline: 0
.option-form
  outline: 0
.option-group
  outline: 0
  border: 0
  cursor: pointer
.option
  cursor: pointer
  outline: 0
  border: 0
  color: $main--color
  &:hover
    color: $second--color
// @media (min-width: 1200px)
//   .navbar--logo
//     width: 28%!important
// @media (max-width: 1180px)
//   .navbar--logo
//     width: 25%
// @media (max-width: 1041px)
//   .navbar--logo
//     width: 15%
.timesIcon
  // display: none
  display: none!important
.iconBlock
  display: block!important
.iconNone
  display: none!important
.searchBox
  display: none
  position: fixed
  // background: blue
  top: 50px
  left: 0
  right: 0
  // margin-left: auto!important
  // margin-right: auto!important
  z-index: 1001
  width: 100%
  max-width: 100%
  // padding: 10px
.searchForm 
  width: 80%
  margin-left: auto
  margin-right: auto
.searchInput
  outline: 0
  border: 0
  font: 400 14px $main--font!important
.searchBtn
  text-align: center
  padding: 0.5rem 1.2rem 
  border-radius: 5px
  font: 400 14px $main--font
  background-color: $second--color
@media (max-width: 1200px)
  html
    font-size: 8px!important
  .navbar--logo
    font-size: 2px!important
  // .navbar--logo
  //   margin-right: 10.86rem!important
@media (max-width: 991px)
  .ul--box
    display: block
    float: left
    margin-left: 2rem
    margin-top: 0!important
  .searchBox
    position: relative
    display: block!important
    width: 100%
    top: 0
    padding: 0 2rem
    // margin-left: 2rem
    // margin-right: 2rem
  .searchForm 
    width: 100%
  .collapse--box__search
    margin-left: 2rem
    margin-bottom: 0.5rem
  .collapse--box__language
    margin-left: 2rem
  .collapse--box__search
    display: none
    width: 142px
    margin-right: 0 
  .collapse--box__language
    width: 142px
    margin-top: 1rem
    margin-bottom: 1rem