$main-font: Roboto, sans-serif
$main-color: #445666
$second-color: #1C85BC
$shadow-color: #E8F2FF
$button-color: #F7791C
$third-color: #868BA2
html
	font-size: 10px
body
	width: 100%
	height: 100%
	margin: 0
	padding: 0
	font-family: Roboto, sans-serif
a 
	text-decoration: none!important
@import components/common
@import components/navbar
@import components/homePage
@import components/footer
@import components/slickySlider
@import components/preloader
@import components/mixin
@import components/about
@import components/certificates
@import components/services
@import components/wialon
@import components/equipments
@import components/faq
@import components/customerRights
@import components/warranty
@import components/contact
@import components/oneOfNews
@import components/corporation
@import components/news
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/progress-tracker/app/styles/progress-tracker.scss"