$main-font: Roboto
$main-color: #445666
$second-color: #1C85BC
$shadow-color: #E8F2FF
$button-color: #F7791C
$news-border-color: #868BA2
@import components/navbar
@import components/homePage
@import components/footer
@import components/slickySlider
@import components/preloader.sass
@import components/mixin.sass
@import components/about
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/progress-tracker/app/styles/progress-tracker.scss"