extends pug_template/head

block unique-content
	.container-fluid.main
		include pug_template/navbar.pug
		.container
			.row
				.col-md-3.breadCrumb
					a.nav-link.navbarLink(href='') Ana səhifə
					| |
					a.nav-link.navbarLink(href='') Şirkət haqqında