extends pug_template/head

block unique-content
	.container-fluid.main
		include pug_template/navbar.pug
		.container
			ol.breadCrumb
				li.px-4.breadCrumb-item
					a.breadCrumb-link(href='homePage.html') Ana səhifə
				| |
				li.px-4.breadCrumb-item.breadCrumb--active
					| Korporativ Əməkdaşlıq
			.mt-5.spaceDiv
			.mt-5.mb-5.contentHeader
				| Korporativ Əməkdaşlıq
			.mb-5.spaceDiv
			p.mb-5.contentText.text-justify
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac condimentumvolor sit amet, consectetur adipiscing elit. Donec ac condimentum  rna. Etiam eleifend nisl nunc, et feugiat libero congue ut. Quisque nec ligula ex urna. Etiam eleifend nisl nunc, et feugiat libero congue ut. Quisque nec ligula ex
				| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac condimentumvolor sit amet, consectetur adipiscing elit. Donec ac condimentum  rna. Etiam eleifend nisl nunc, et feugiat libero congue ut. Quisque nec ligula ex urna. Etiam eleifend nisl nunc, et feugiat libero congue ut. Quisque nec ligula extends
			.mb-5.spaceDiv
			.corporation-form
				form
					.corporation-form__line
						.form-group.form-grp.W-38
							p.mb-4.contentText
								| Əməkdaşlıq növü *
							.gender-box 
								label.gender-option
									input.mt-1.mr-3(type='radio' name='gender') 
									| Hüquqi şəxs
								label.gender-option
									input.mt-1.mr-3(type='radio' name='gender') 
									| Fiziki şəxs
					.mt-5.corporation-form__line
						.form-group.form-grp.W-38
							label.mb-3.contentText.corporation-form__text(for='inputText1') Şirkətin tam adı *
							input#inputText1.form-control.corporation-input.w-100(type='text', aria-describedby='textHelp1',)
							small#textHelp1.form-text.text-muted We'll never share your email with anyone else.
						.form-group.form-grp.W-38
							label.mb-3.contentText.corporation-form__text(for='inputText2') Ad, Soyad *
							input#inputText2.form-control.corporation-input.w-100(type='text', aria-describedby='textHelp2',)
							small#textHelp2.form-text.text-muted We'll never share your email with anyone else.
					.mt-5.corporation-form__line
						.form-group.form-grp.W-38
							label.mb-3.contentText.corporation-form__text(for='inputText1') Əlaqə nömrəsi *
							input#inputText1.form-control.corporation-input.w-100(type='text', aria-describedby='textHelp1',)
							small#textHelp1.form-text.text-muted We'll never share your email with anyone else.
						.form-group.form-grp.W-38
							label.mb-3.contentText.corporation-form__text.w-100(for='inputEmail') Elektron poçt nömrəsi *
							input#inputEmail.form-control.corporation-input(type='email', aria-describedby='emailHelp',)
							small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
					.mt-5.corporation-form__line
						.country-city.W-38
							.form-group
								label.mb-3.contentText.corporation-form__text(for='inputText1') Ölkə *
								input#inputText1.form-control.corporation-input.W-16(type='text', aria-describedby='textHelp1',)
								small#textHelp1.form-text.text-muted We'll never share your email with anyone else.
							.form-group
								label.mb-3.contentText.corporation-form__text(for='inputText1') Şəhər *
								input#inputText1.form-control.corporation-input.W-16(type='text', aria-describedby='textHelp1',)
								small#textHelp1.form-text.text-muted We'll never share your email with anyone else.
						.form-group.form-grp.W-38
							label.mb-3.contentText.corporation-form__text(for='inputText3') Ünvan *
							input#inputText3.form-control.corporation-input.w-100(type='text', aria-describedby='textHelp3',)
							small#textHelp3.form-text.text-muted We'll never share your email with anyone else.
					.mt-5.corporation-form__line
						.form-group.form-grp.W-38
							label.mb-3.contentText.corporation-form__text(for='textarea1') Haqqınızda *
							br
							textarea#textarea1.corporation-input.H-8.w-100
							small#textareaHelp1.form-text.text-muted We'll never share your email with anyone else.
						.form-group.form-grp.W-38
							label.mb-3.contentText.corporation-form__text(for='textarea2') Əməkdaşlıq məqsədi *
							br
							textarea#textarea2.corporation-input.H-8.w-100
							small#textareaHelp2.form-text.text-muted We'll never share your email with anyone else.
					.mt-5.corporation-form__line
						.form-group.form-grp
							.no-robot
								| csacas
					.mt-2.corporation-form__line
						.form-group.form-grp.W-38
							input#no-ropotText.form-control.corporation-input.w-100(type='text', aria-describedby='no-ropotTextHelp')
							small#no-ropotTextHelp.form-text.text-muted We'll never share your email with anyone else.
						.form-group.form-grp.W-38
							.add-file.w-100
								input.b-invoice__input(type='file', multiple='')
								.b-invoice__infos
									img.mx-4(src='img/attachment.svg')
									p.add-file__text.mr-4.mb-0 Fayl əlavə et
									.b-invoice__extensions
					.mt-5.corporation-form__line.button-box.MB-15
						button.px-5.contentBtn.form-button
							| Göndər						
		include pug_template/footer.pug