extends pug_template/head

block unique-content
	.container-fluid.main
			include pug_template/navbar.pug
			.container.about-container
				ol.breadCrumb
					li.px-4.breadCrumb-item
						a.breadCrumb-link(href='homePage.html') Ana səhifə
					| |
					li.px-4.breadCrumb-item.breadCrumb--active
						| Avadanlıqlar
				.equipmentHeader
					| Avadanlıqlar
				.row
					a.equipment-link.mx-4.MB-14(href="equipment.html")
						.pb-4.px-4.common-content.equipment
							.equipment__img-box
								img.equipment__img(src="img/equipment.png" alt="navigation")
							p.common-content__name.equipment__name
								| RUPTELA FM-ECO4
							p.common-content__text.news-text
								| FM-Pro4 – yük maşınları, kənd təsərrüfatı maşınları, inşaat texnikası və digər ağır yük nəqliyyat vasitələrində istifadə üçün nəzərdə tutulmuş müasir GPS-treker
							.second-direction
					a.equipment-link.mx-4.MB-14(href="equipment.html")
						.pb-4.px-4.common-content.equipment
							.equipment__img-box
								img.equipment__img(src="img/slide2.jpg" alt="navigation")
							p.common-content__name.equipment__name
								| RUPTELA FM-ECO4
							p.common-content__text.news-text
								| FM-Pro4 – yük maşınları, kənd təsərrüfatı maşınları, inşaat texnikası və digər ağır yük nəqliyyat vasitələrində istifadə üçün nəzərdə tutulmuş müasir GPS-treker
							.second-direction
					a.equipment-link.mx-4.MB-14(href="equipment.html")
						.pb-4.px-4.common-content.equipment
							.equipment__img-box
								img.equipment__img(src="img/news.png" alt="navigation")
							p.common-content__name.equipment__name
								| RUPTELA FM-ECO4
							p.common-content__text.news-text
								| FM-Pro4 – yük maşınları, kənd təsərrüfatı maşınları, inşaat texnikası və digər ağır yük nəqliyyat vasitələrində istifadə üçün nəzərdə tutulmuş müasir GPS-treker
							.second-direction
					a.equipment-link.mx-4.MB-14(href="equipment.html")
						.pb-4.px-4.common-content.equipment
							.equipment__img-box
								img.equipment__img(src="img/news.png" alt="navigation")
							p.common-content__name.equipment__name
								| RUPTELA FM-ECO4
							p.common-content__text.news-text
								| FM-Pro4 – yük maşınları, kənd təsərrüfatı maşınları, inşaat texnikası və digər ağır yük nəqliyyat vasitələrində istifadə üçün nəzərdə tutulmuş müasir GPS-treker
							.second-direction
					a.equipment-link.mx-4.MB-14(href="equipment.html")
						.pb-4.px-4.common-content.equipment
							.equipment__img-box
								img.equipment__img(src="img/news.png" alt="navigation")
							p.common-content__name.equipment__name
								| RUPTELA FM-ECO4
							p.common-content__text.news-text
								| FM-Pro4 – yük maşınları, kənd təsərrüfatı maşınları, inşaat texnikası və digər ağır yük nəqliyyat vasitələrində istifadə üçün nəzərdə tutulmuş müasir GPS-treker
							.second-direction
			include pug_template/footer.pug