extends pug_template/head

block unique-content
	.container-fluid.main
		include pug_template/navbar.pug
		.container
			ol.breadCrumb
				li.px-4.breadCrumb-item
					a.breadCrumb-link(href='homePage.html') Ana səhifə
				| |
				li.px-4.breadCrumb-item
					a.breadCrumb-link.breadCrumb-passive-link Müştərilərə
				| |
				li.px-4.breadCrumb-item.breadCrumb--active
					| Tez-tez verilən suallar
			.mt-5.spaceDiv
			.mt-5.mb-5.contentHeader
				| Tez-tez verilən suallar
			.mb-5.spaceDiv
			#accordionFaq.accordion.row.MB-10
				.col-md-12.faq-box
					.card.accordion-item
							#heading1.card-header.py-0.pr-0.mx-3.border-0.bg-white
								h2.mb-0.d-flex
									button.btn.btn-link.accordion-item__header(type='button', data-toggle='collapse', data-target='#collapse1', aria-expanded='true', aria-controls='collapse1')
										.plus-icon.plus-times.mr-4
											| &#x2b;
										| Wialon hesabı necə açılır?
							#collapse1.collapse(aria-labelledby='heading1',data-parent='#accordionFaq')
								.card-body.accordion-item__text.px-5.pt-3.pb-5
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
					.card.accordion-item
							#heading2.card-header.py-0.pr-0.mx-3.border-0.bg-white
								h2.mb-0.d-flex
									button.btn.btn-link.accordion-item__header(type='button', data-toggle='collapse', data-target='#collapse2', aria-expanded='true', aria-controls='collapse2')
										.plus-icon.plus-times.mr-4
											| &#x2b;
										| Avtomatik ödənişlər nədir?
							#collapse2.collapse(aria-labelledby='heading2',data-parent='#accordionFaq')
								.card-body.accordion-item__text.px-5.pt-3.pb-5
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
					.card.accordion-item
							#heading3.card-header.py-0.pr-0.mx-3.border-0.bg-white
								h2.mb-0.d-flex
									button.btn.btn-link.accordion-item__header(type='button', data-toggle='collapse', data-target='#collapse3', aria-expanded='true', aria-controls='collapse3')
										.plus-icon.plus-times.mr-4
											| &#x2b;
										| Portmanat hesabımdakı məbləği necə nağdlaşdira bilərəm?
							#collapse3.collapse(aria-labelledby='heading3',data-parent='#accordionFaq')
								.card-body.accordion-item__text.px-5.pt-3.pb-5
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
					.card.accordion-item
							#heading4.card-header.py-0.pr-0.mx-3.border-0.bg-white
								h2.mb-0.d-flex
									button.btn.btn-link.accordion-item__header(type='button', data-toggle='collapse', data-target='#collapse4', aria-expanded='true', aria-controls='collapse4')
										.plus-icon.plus-times.mr-4
											| &#x2b;
										| Wialon hesabı necə açılır?
							#collapse4.collapse(aria-labelledby='heading4',data-parent='#accordionFaq')
								.card-body.accordion-item__text.px-5.pt-3.pb-5
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
					.card.accordion-item
							#heading5.card-header.py-0.pr-0.mx-3.border-0.bg-white
								h2.mb-0.d-flex
									button.btn.btn-link.accordion-item__header(type='button', data-toggle='collapse', data-target='#collapse5', aria-expanded='true', aria-controls='collapse5')
										.plus-icon.plus-times.mr-4
											| &#x2b;
										| Avtomatik ödənişlər nədir?
							#collapse5.collapse(aria-labelledby='heading5',data-parent='#accordionFaq')
								.card-body.accordion-item__text.px-5.pt-3.pb-5
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
					.card.accordion-item
							#heading6.card-header.py-0.pr-0.mx-3.border-0.bg-white
								h2.mb-0.d-flex
									button.btn.btn-link.accordion-item__header(type='button', data-toggle='collapse', data-target='#collapse6', aria-expanded='true', aria-controls='collapse6')
										.plus-icon.plus-times.mr-4
											| &#x2b;
										| Portmanat hesabımdakı məbləği necə nağdlaşdira bilərəm?
							#collapse6.collapse(aria-labelledby='heading6',data-parent='#accordionFaq')
								.card-body.accordion-item__text.px-5.pt-3.pb-5
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
		include pug_template/footer.pug