extends pug_template/head

block unique-content
	.container-fluid.main
		include pug_template/navbar.pug
		.container
			ol.breadCrumb
				li.px-4.breadCrumb-item
					a.breadCrumb-link(href='homePage.html') Ana səhifə
				| |
				li.px-4.breadCrumb-item
					a.breadCrumb-link(href='') Müştərilərə
				| |
				li.px-4.breadCrumb-item.breadCrumb--active
					| Tez-tez verilən suallar
			.mt-5.spaceDiv
			.mt-5.mb-5.contentHeader
				| Tez-tez verilən suallar
			.mb-5.spaceDiv
			.row.MB-10
				.col-md-12.faq-box
					ul.list-grp
						li.list-item 
							p.list-item__header 
								span.list-item__plus
									i.fi-xwluxl-plus-wide
								| Wialon hesabı necə açılır?
							p.list-item__text
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
						li.list-item 
							p.list-item__header 
								span.list-item__plus 
									i.fi-xwluxl-plus-wide
								| Avtomatik ödənişlər nədir?
							p.list-item__text
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.						
						li.list-item 
							p.list-item__header 
								span.list-item__plus
									i.fi-xwluxl-plus-wide
								| Portmanat hesabımdakı məbləği necə nağdlaşdira bilərəm?
							p.list-item__text
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
						li.list-item 
							p.list-item__header 
								span.list-item__plus 
									i.fi-xwluxl-plus-wide
								| Mobil operator (Azercell, Bakcell, Nar) balansımla Portmanat balansımı artıra bilərəm?
							p.list-item__text
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.						
						li.list-item 
							p.list-item__header 
								span.list-item__plus
									i.fi-xwluxl-plus-wide
								| Hərəkət şərtlərinə riayət
							p.list-item__text
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
						li.list-item 
							p.list-item__header 
								span.list-item__plus 
									i.fi-xwluxl-plus-wide
								| Maksimal ödəniş məbləği nə qədərdir?
							p.list-item__text
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.						
		include pug_template/footer.pug