extends pug_template/head

block unique-content
        .container-fluid.main
            include pug_template/navbar.pug
            #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                ol.carousel-indicators.carousel--indicators
                    li.carousel--indicator.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                    li.carousel--indicator(data-target='#carouselExampleIndicators', data-slide-to='1')
                    li.carousel--indicator(data-target='#carouselExampleIndicators', data-slide-to='2')
                .carousel-inner
                    .carousel-item.active
                        img.d-block.w-100(src='img/slide1.jpg', alt='way')
                        .carousel-item__content
                            p.carousel-item__text 
                                | Excepteur sint occaecat cupidatat non proiden
                            p.carousel-item__motto 
                                | Peşəkarların Seçimi
                            a(href="").carousel-item__button
                                | Ətraflı
                    .carousel-item
                        img.d-block.w-100(src='img/slide2.jpg', alt='village way')
                        .carousel-item__content
                            p.carousel-item__text 
                                | Excepteur sint occaecat cupidatat non proiden
                            p.carousel-item__motto 
                                | Peşəkarların Seçimi
                            a(href="").carousel-item__button
                                | Ətraflı
                    .carousel-item
                        img.d-block.w-100(src='img/slide3.jpg', alt='happiness')
                        .carousel-item__content
                            p.carousel-item__text 
                                | Excepteur sint occaecat cupidatat non proiden
                            p.carousel-item__motto 
                                | Peşəkarların Seçimi
                            a(href="").carousel-item__button
                                | Ətraflı
            .container.myContainer
                p.content-header.whyUs
                    | Peşəkarlar niyə bizi seçir? 
                .row
                    .col-md-4.py-5.px-4.common-content
                        img.pb-4(src="img/gps-navigator.png" alt="navigation")
                        p.common-content__name
                            | Nəqliyyat Vasitəsinin İzlənməsi
                        p.common-content__text
                            | Sürət həddinin aşılması, temperatur rejiminin 
                            | dəyişilməsi, yanacağın boşaldılması, 
                            | yükün icazə
                    .col-md-4.py-5.px-4.common-content
                        img.pb-4(src="img/passengers.png" alt="navigation")
                        p.common-content__name
                            | Nəqliyyat Vasitəsinin İzlənməsi
                        p.common-content__text
                            | Sürət həddinin aşılması, temperatur rejiminin 
                            | dəyişilməsi, yanacağın boşaldılması, 
                            | yükün icazə
                    .col-md-4.py-5.px-4.common-content
                        img.pb-4(src="img/Path 554.png" alt="navigation")
                        p.common-content__name
                            | Nəqliyyat Vasitəsinin İzlənməsi
                        p.common-content__text
                            | Sürət həddinin aşılması, temperatur rejiminin 
                            | dəyişilməsi, yanacağın boşaldılması, 
                            | yükün icazə
                .row
                    .col-md-4.py-5.px-4.common-content
                        img.pb-4(src="img/gps-navigator.png" alt="navigation")
                        p.common-content__name
                            | Nəqliyyat Vasitəsinin İzlənməsi
                        p.common-content__text
                            | Sürət həddinin aşılması, temperatur rejiminin 
                            | dəyişilməsi, yanacağın boşaldılması, 
                            | yükün icazə
                    .col-md-4.py-5.px-4.common-content
                        img.pb-4(src="img/passengers.png" alt="navigation")
                        p.common-content__name
                            | Nəqliyyat Vasitəsinin İzlənməsi
                        p.common-content__text
                            | Sürət həddinin aşılması, temperatur rejiminin 
                            | dəyişilməsi, yanacağın boşaldılması, 
                            | yükün icazə
                    .col-md-4.py-5.px-4.common-content
                        img.pb-4(src="img/Path 554.png" alt="navigation")
                        p.common-content__name
                            | Nəqliyyat Vasitəsinin İzlənməsi
                        p.common-content__text
                            | Sürət həddinin aşılması, temperatur rejiminin 
                            | dəyişilməsi, yanacağın boşaldılması, 
                            | yükün icazə
                p.content-header.equipmentHeader
                    | Avadanlıqlar
                .row
                    a.equipment-link.mx-4.MB-14(href="equipment.html")
                        .pb-4.px-4.common-content.equipment
                            .equipment__img-box
                                img.equipment__img(src="img/equipment.png" alt="navigation")
                            p.common-content__name.equipment__name
                                | RUPTELA FM-ECO4
                            p.common-content__text.news-text
                                | FM-Pro4 – yük maşınları, kənd təsərrüfatı maşınları, inşaat texnikası və digər ağır yük nəqliyyat vasitələrində istifadə üçün nəzərdə tutulmuş müasir GPS-treker
                            .second-direction
                    a.equipment-link.mx-4.MB-14(href="equipment.html")
                        .pb-4.px-4.common-content.equipment
                            .equipment__img-box
                                img.equipment__img(src="img/slide2.jpg" alt="navigation")
                            p.common-content__name.equipment__name
                                | RUPTELA FM-ECO4
                            p.common-content__text.news-text
                                | FM-Pro4 – yük maşınları, kənd təsərrüfatı maşınları, inşaat texnikası və digər ağır yük nəqliyyat vasitələrində istifadə üçün nəzərdə tutulmuş müasir GPS-treker
                            .second-direction
                    a.equipment-link.mx-4.MB-14(href="equipment.html")
                        .pb-4.px-4.common-content.equipment
                            .equipment__img-box
                                img.equipment__img(src="img/news.png" alt="navigation")
                            p.common-content__name.equipment__name
                                | RUPTELA FM-ECO4
                            p.common-content__text.news-text
                                | FM-Pro4 – yük maşınları, kənd təsərrüfatı maşınları, inşaat texnikası və digər ağır yük nəqliyyat vasitələrində istifadə üçün nəzərdə tutulmuş müasir GPS-treker
                            .second-direction
                .row
                    a.mx-auto.contentBtn(href="equipments.html")
                        | Daha çox
                p.content-header.news-header
                    | Xəbərlər
                .row
                    a.common-content.news-link.mx-4.px-4.MB-6(href="oneOfNews.html")
                        .common-content.news
                            .news-img-box.mb-4.w-100.H-19
                                img.news-img.w-100.h-100(src="img/newsTest.JPG" alt="mobile tracking")
                            .mx-5.news__time
                                .orange-point 
                                .news__date Yanvar 8, 2018
                            p.mx-5.common-content__name
                                | Nəqliyyat Vasitəsinin İzlənməsi
                            p.mx-5.common-content__text
                                | Sürət həddinin aşılması, temperatur rejiminin  dəyişilməsi, yanacağın boşaldılması,  yükün icazə
                            .mx-5.mt-5.news__information-link
                                | Ətraflı oxu
                    a.common-content.news-link.mx-4.px-4.MB-6(href="oneOfNews.html")
                        .common-content.news
                            .news-img-box.mb-4.w-100.H-19
                                img.news-img.w-100.h-100(src="img/newsTest2.jpg" alt="mobile tracking")
                            .mx-5.news__time
                                .orange-point 
                                .news__date Yanvar 8, 2018
                            p.mx-5.common-content__name
                                | Nəqliyyat Vasitəsinin İzlənməsi
                            p.mx-5.common-content__text
                                | Sürət həddinin aşılması, temperatur rejiminin  dəyişilməsi, yanacağın boşaldılması,  yükün icazə
                            .mx-5.mt-5.news__information-link
                                | Ətraflı oxu
                    a.common-content.news-link.mx-4.px-4.MB-6(href="oneOfNews.html")
                        .common-content.news
                            .news-img-box.mb-4.w-100.H-19
                                img.news-img.w-100.h-100(src="img/slide1.jpg" alt="mobile tracking")
                            .mx-5.news__time
                                .orange-point 
                                .news__date Yanvar 8, 2018
                            p.mx-5.common-content__name
                                | Nəqliyyat Vasitəsinin İzlənməsi
                            p.mx-5.common-content__text
                                | Sürət həddinin aşılması, temperatur rejiminin  dəyişilməsi, yanacağın boşaldılması,  yükün icazə
                            .mx-5.mt-5.news__information-link
                                | Ətraflı oxu
                .row
                    a.mx-auto.contentBtn(href="news.html")
                        | Daha çox
                p.content-header.partners
                    | Partnyorlar
                include pug_template/slickySlider.pug
            include pug_template/footer.pug
   
