extends pug_template/head

block unique-content
	.container-fluid.main
			include pug_template/navbar.pug
			.container.about-container
				ol.breadCrumb
					li.px-4.breadCrumb-item
						a.breadCrumb-link(href='homePage.html') Ana səhifə
					| |
					li.px-4.breadCrumb-item.breadCrumb--active
						| Xidmətlərimiz
				.aboutHeader
					| Xidmətlərimiz
				p.about-text.text-justify
					| GPS izləmə sistemi Sizə real zaman rejimində bütün nəqliyyat vasitələrinin yerini və məsafə, yanacaq miqdarı, mühərrik istismarı, temperatur rejimi kimi önəmli göstəriciləri izləməyinizə imkan verir. Sistemin ən əsas üstünlüklərindən biri – reys zamanı baş verən gözlənilməz hadisə və ya qayda pozuntusu haqqında anında bildiriş siqnalının göndərilməsidir. Sürət həddinin aşılması, temperatur rejiminin dəyişilməsi, yanacağın boşaldılması,  yükün icazə olmayan yerdə açılması zamanında bu haqda ilk Siz xəbərdar olacaqsınız! Sistem Online, SMS və ya e-mail vasitəsi ilə dərhal Sizə bu haqda xəbərdarlıq göndərəcək
				//- .row.services-row
				//- 	.col-md-6.PX-4
				//- 		ul.list-grp
				//- 			li.list-item 
				//- 				p.list-item__header 
				//- 					span.list-item__plus
				//- 						i.fi-xwluxl-plus-wide
				//- 					| Mühərrikin bloka salınması
				//- 				p.list-item__text
				//- 					| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
				//- 			li.list-item 
				//- 				p.list-item__header 
				//- 					span.list-item__plus 
				//- 						i.fi-xwluxl-plus-wide
				//- 					| Yükün yoxlanılması
				//- 				p.list-item__text
				//- 					| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
				//- 			li.list-item 
				//- 				p.list-item__header 
				//- 					span.list-item__plus 
				//- 						i.fi-xwluxl-plus-wide
				//- 					| Foto hesabat
				//- 				p.list-item__text
				//- 					| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
				//- 			li.list-item 
				//- 				p.list-item__header 
				//- 					span.list-item__plus 
				//- 						i.fi-xwluxl-plus-wide
				//- 					| Qəza əleyhinə intellektual sistem
				//- 				p.list-item__text
				//- 					| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
				//- 			li.list-item 
				//- 				p.list-item__header 
				//- 					span.list-item__plus 
				//- 						i.fi-xwluxl-plus-wide
				//- 					| Digər subyektlərlə inteqrasiya
				//- 				p.list-item__text
				//- 					| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
				//- 			li.list-item 
				//- 				p.list-item__header 
				//- 					span.list-item__plus 
				//- 						i.fi-xwluxl-plus-wide
				//- 					| Sərnişin daşımada video hesabat
				//- 				p.list-item__text
				//- 					| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
				//- 	.col-md-6.PX-4
				//- 		ul.list-grp
				//- 			li.list-item 
				//- 				p.list-item__header 
				//- 					span.list-item__plus 
				//- 						i.fi-xwluxl-plus-wide
				//- 					| Mühərrikin bloka salınması
				//- 				p.list-item__text
				//- 					| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
				//- 			li.list-item 
				//- 				p.list-item__header 
				//- 					span.list-item__plus 
				//- 						i.fi-xwluxl-plus-wide
				//- 					| Yükün yoxlanılması
				//- 				p.list-item__text
				//- 					| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
				//- 			li.list-item 
				//- 				p.list-item__header 
				//- 					span.list-item__plus 
				//- 						i.fi-xwluxl-plus-wide
				//- 					| Foto hesabat
				//- 				p.list-item__text
				//- 					| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
				//- 			li.list-item 
				//- 				p.list-item__header 
				//- 					span.list-item__plus 
				//- 						i.fi-xwluxl-plus-wide
				//- 					| Qəza əleyhinə intellektual sistem
				//- 				p.list-item__text
				//- 					| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
				//- 			li.list-item 
				//- 				p.list-item__header 
				//- 					span.list-item__plus 
				//- 						i.fi-xwluxl-plus-wide
				//- 					| Digər subyektlərlə inteqrasiya
				//- 				p.list-item__text
				//- 					| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
				//- 			li.list-item 
				//- 				p.list-item__header 
				//- 					span.list-item__plus 
				//- 						i.fi-xwluxl-plus-wide
				//- 					| Sərnişin daşımada video hesabat
				//- 				p.list-item__text
				//- 					| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
				//- .row.services-row
				//- 	.col-md-6.PX-4
				//- 		.accordion-item
				//- 			p.accordion-item__header.py-2
				//- 				span.accordion-item__plus 
				//- 					//- i.fi-xwluxl-plus-wide
				//- 				| Sərnişin daşımada video hesabat
				//- 			p.accordion-item__text
				//- 				| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
				//- 	.col-md-6.PX-4
				//- 		.accordion-item
				//- 			p.accordion-item__header.py-2
				//- 				span.accordion-item__plus 
				//- 					//- i.fi-xwluxl-plus-wide
				//- 				| Sərnişin daşımada video hesabat
				//- 			p.accordion-item__text
				//- 				| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
				#accordionExample.accordion.row.services-row
					.col-md-6.PX-4
						.card.accordion-item
							#heading1.card-header.py-0.pr-0.ml-3.border-0.bg-white
								h2.mb-0.d-flex
									button.btn.btn-link.accordion-item__header(type='button', data-toggle='collapse', data-target='#collapse1', aria-expanded='true', aria-controls='collapse1')
										.plus-icon.plus-times.mr-4
											| &#x2b;
										| Mühərrikin bloka salınması
							#collapse1.collapse(aria-labelledby='heading1',data-parent='#accordionExample')
								.card-body.accordion-item__text.px-5.pt-3.pb-5
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
						.card.accordion-item
							#heading2.card-header.py-0.pr-0.ml-3.border-0.bg-white
								h2.mb-0.d-flex
									button.btn.btn-link.accordion-item__header(type='button', data-toggle='collapse', data-target='#collapse2', aria-expanded='true', aria-controls='collapse2')
										.plus-icon.plus-times.mr-4
											| &#x2b;
										| Yükün yoxlanılması
							#collapse2.collapse(aria-labelledby='heading2',data-parent='#accordionExample')
								.card-body.accordion-item__text.px-5.pt-3.pb-5
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
						.card.accordion-item
							#heading3.card-header.py-0.pr-0.ml-3.border-0.bg-white
								h2.mb-0.d-flex
									button.btn.btn-link.accordion-item__header(type='button', data-toggle='collapse', data-target='#collapse3', aria-expanded='true', aria-controls='collapse3')
										.plus-icon.plus-times.mr-4
											| &#x2b;
										| Collapsible Group Item #1
							#collapse3.collapse(aria-labelledby='heading3',data-parent='#accordionExample')
								.card-body.accordion-item__text.px-5.pt-3.pb-5
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
						.card.accordion-item
							#heading4.card-header.py-0.pr-0.mxl-3.border-0.bg-white
								h2.mb-0.d-flex
									button.btn.btn-link.accordion-item__header(type='button', data-toggle='collapse', data-target='#collapse4', aria-expanded='true', aria-controls='collapse4')
										.plus-icon.plus-times.mr-4
											| &#x2b;
										| Foto hesabat
							#collapse4.collapse(aria-labelledby='heading4',data-parent='#accordionExample')
								.card-body.accordion-item__text.px-5.pt-3.pb-5
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
						.card.accordion-item
							#heading5.card-header.py-0.pr-0.mx-3.border-0.bg-white
								h2.mb-0.d-flex
									button.btn.btn-link.accordion-item__header(type='button', data-toggle='collapse', data-target='#collapse5', aria-expanded='true', aria-controls='collapse5')
										.plus-icon.plus-times.mr-4
											| &#x2b;
										| Qəza əleyhinə intellektual sistem
							#collapse5.collapse(aria-labelledby='heading5',data-parent='#accordionExample')
								.card-body.accordion-item__text.px-5.pt-3.pb-5
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
						.card.accordion-item
							#heading6.card-header.py-0.pr-0.mx-3.border-0.bg-white
								h2.mb-0.d-flex
									button.btn.btn-link.accordion-item__header(type='button', data-toggle='collapse', data-target='#collapse6', aria-expanded='true', aria-controls='collapse6')
										.plus-icon.plus-times.mr-4
											| &#x2b;
										| Digər subyektlərlə inteqrasiya
							#collapse6.collapse(aria-labelledby='heading6',data-parent='#accordionExample')
								.card-body.accordion-item__text.px-5.pt-3.pb-5
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
					.col-md-6.PX-4
						.card.accordion-item
							#heading7.card-header.py-0.pr-0.mx-3.border-0.bg-white
								h2.mb-0.d-flex
									button.btn.btn-link.accordion-item__header(type='button', data-toggle='collapse', data-target='#collapse7', aria-expanded='true', aria-controls='collapse7')
										.plus-icon.plus-times.mr-4
											| &#x2b;
										| Sərnişin daşımada video hesabat
							#collapse7.collapse(aria-labelledby='heading7',data-parent='#accordionExample')
								.card-body.accordion-item__text.px-5.pt-3.pb-5
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
						.card.accordion-item
							#heading8.card-header.py-0.pr-0.mx-3.border-0.bg-white
								h2.mb-0.d-flex
									button.btn.btn-link.accordion-item__header(type='button', data-toggle='collapse', data-target='#collapse8', aria-expanded='true', aria-controls='collapse8')
										.plus-icon.plus-times.mr-4
											| &#x2b;
										| Hərəkət şərtlərinə riayət
							#collapse8.collapse(aria-labelledby='heading8',data-parent='#accordionExample')
								.card-body.accordion-item__text.px-5.pt-3.pb-5
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
						.card.accordion-item
							#heading9.card-header.py-0.pr-0.mx-3.border-0.bg-white
								h2.mb-0.d-flex
									button.btn.btn-link.accordion-item__header(type='button', data-toggle='collapse', data-target='#collapse9', aria-expanded='true', aria-controls='collapse9')
										.plus-icon.plus-times.mr-4
											| &#x2b;
										| Yanacaq səviyyəsinin ölçülməsi
							#collapse9.collapse(aria-labelledby='heading9',data-parent='#accordionExample')
								.card-body.accordion-item__text.px-5.pt-3.pb-5
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
						.card.accordion-item
							#heading10.card-header.py-0.pr-0.mx-3.border-0.bg-white
								h2.mb-0.d-flex
									button.btn.btn-link.accordion-item__header(type='button', data-toggle='collapse', data-target='#collapse10', aria-expanded='true', aria-controls='collapse10')
										.plus-icon.plus-times.mr-4
											| &#x2b;
										| iButton sistemi
							#collapse10.collapse(aria-labelledby='heading10',data-parent='#accordionExample')
								.card-body.accordion-item__text.px-5.pt-3.pb-5
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
			include pug_template/footer.pug