extends pug_template/head

block unique-content
	.container-fluid.main
			include pug_template/navbar.pug
			.container.about-container
				ol.breadCrumb
					li.px-4.breadCrumb-item
						a.breadCrumb-link(href='homePage.html') Ana səhifə
					| |
					li.px-4.breadCrumb-item.breadCrumb--active
						| Xidmətlərimiz
				.aboutHeader
					| Xidmətlərimiz
				p.about-text.text-justify
					| GPS izləmə sistemi Sizə real zaman rejimində bütün nəqliyyat vasitələrinin yerini və məsafə, yanacaq miqdarı, mühərrik istismarı, temperatur rejimi kimi önəmli göstəriciləri izləməyinizə imkan verir. Sistemin ən əsas üstünlüklərindən biri – reys zamanı baş verən gözlənilməz hadisə və ya qayda pozuntusu haqqında anında bildiriş siqnalının göndərilməsidir. Sürət həddinin aşılması, temperatur rejiminin dəyişilməsi, yanacağın boşaldılması,  yükün icazə olmayan yerdə açılması zamanında bu haqda ilk Siz xəbərdar olacaqsınız! Sistem Online, SMS və ya e-mail vasitəsi ilə dərhal Sizə bu haqda xəbərdarlıq göndərəcək
				.row.services-row
					.col-md-6.PX-4
						ul.list-grp
							li.list-item 
								p.list-item__header 
									span.list-item__plus + 
									span.list-item__times x
									| Mühərrikin bloka salınması
								p.list-item__text
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
							li.list-item 
								p.list-item__header 
									span.list-item__plus + 
									span.list-item__times x
									| Yükün yoxlanılması
								p.list-item__text
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
							li.list-item 
								p.list-item__header 
									span.list-item__plus + 
									span.list-item__times x
									| Foto hesabat
								p.list-item__text
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
							li.list-item 
								p.list-item__header 
									span.list-item__plus + 
									span.list-item__times x
									| Qəza əleyhinə intellektual sistem
								p.list-item__text
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
							li.list-item 
								p.list-item__header 
									span.list-item__plus + 
									span.list-item__times x
									| Digər subyektlərlə inteqrasiya
								p.list-item__text
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
							li.list-item 
								p.list-item__header 
									span.list-item__plus + 
									span.list-item__times x
									| Sərnişin daşımada video hesabat
								p.list-item__text
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
					.col-md-6.PX-4
						ul.list-grp
							li.list-item 
								p.list-item__header 
									span.list-item__plus + 
									span.list-item__times x
									| Mühərrikin bloka salınması
								p.list-item__text
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
							li.list-item 
								p.list-item__header 
									span.list-item__plus + 
									span.list-item__times x
									| Yükün yoxlanılması
								p.list-item__text
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
							li.list-item 
								p.list-item__header 
									span.list-item__plus + 
									span.list-item__times x
									| Foto hesabat
								p.list-item__text
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
							li.list-item 
								p.list-item__header 
									span.list-item__plus + 
									span.list-item__times x
									| Qəza əleyhinə intellektual sistem
								p.list-item__text
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
							li.list-item 
								p.list-item__header 
									span.list-item__plus + 
									span.list-item__times x
									| Digər subyektlərlə inteqrasiya
								p.list-item__text
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
							li.list-item 
								p.list-item__header 
									span.list-item__plus + 
									span.list-item__times x
									| Sərnişin daşımada video hesabat
								p.list-item__text
									| Bu funksiya vasitəsi ilə temperatur, nisbi rütubət və atmosfer təzyiqi rejimlərinə nəzarət olunaraq tez xarab olan məhsulların təyinat nöqtəsinə tələb olunan rejimdə, tam təhlükəsiz şəkildə çatdırılması təmin olunur. Həmçinin sistem təhlükəli maddələrin və incə məhsulların daşınma şərtlərini izləyərək sürücü tərəfindən bütün daşınma qaydalarına riayət edilməsini təmin edir. Daşınma rejimi və şərtləri dəyişilən və ya dəyişdirilən tədqirdə sürücüyə xəbərdarlıq siqnalı verilir.
			include pug_template/footer.pug