extends pug_template/head

block unique-content
	.container-fluid.main
		include pug_template/navbar.pug
		.container
			ol.breadCrumb
				li.px-4.breadCrumb-item
					a.breadCrumb-link(href='homePage.html') Ana səhifə
				| |
				li.px-4.breadCrumb-item
					a.breadCrumb-link(href='') Müştərilərə
				| |
				li.px-4.breadCrumb-item.breadCrumb--active
					| Zəmanət Şərtləri
			.mt-5.spaceDiv
			.mt-5.mb-5.contentHeader
				| Zəmanət Şərtləri
			.mb-5.spaceDiv
			p.mb-5.contentText.text-justify
				| Wialon Local – Wialon adlı nəqliyyatın peyk vasitəsi ilə izlənməsi sisteminin server versiyasıdır. Funksionalın modul quruluşunun sayəsində istifadəçi yalnız biznesinin idarəsində lazım olan imkanları seçə bilir. Sistem yüzdən bir neçə minə qədər obyektə sahib olan operatorlar üçün uyğundur və orta güclü serverlərdə belə quraşdırıla bilər. Platforma idarəsinin intellektual interfeysi isə serverləri uzaq məsafədən belə işə salmağa və dayandırmağa imkan verir.
			.mb-5.spaceDiv
			ul.MB-13
				li.warranty-item
					.mr-4.mt-0.bigOrnangePoint
					p.mb-0.contentText
						| Cihazın servis mərkəzinə təhvil verildiyi gündən 14 iş günü ərzində tam funksional cihazı müştəriyə qaytarmaq ( təmsilçi vasitəsi ilə göndərilən cihazlar 21 iş günü)
				li.warranty-item
					.mr-4.mt-0.bigOrnangePoint
					p.mb-0.contentText
						| Satış tarixindən başlayaraq 12 ay ərzində istehsalçı qüsurlu detalların və ya cihazın dəyişdirilməsi yolu ilə ( üsulu istehsalçı özü seçir) alıcını tam funksional cihazla 
						| təmin etməyi öz üzərinə öhdəlik götürür:
				li.warranty-item
					.mr-4.mt-0.bigOrnangePoint
					p.mb-0.contentText
						| Rahat idarəetmə
				li.warranty-item
					.mr-4.mt-0.bigOrnangePoint
					p.mb-0.contentText
						| Cihazın servis mərkəzinə təhvil verildiyi gündən 14 iş günü ərzində tam funksional cihazı müştəriyə qaytarmaq ( təmsilçi vasitəsi ilə göndərilən cihazlar 21 iş günü)
				li.warranty-item
					.mr-4.mt-0.bigOrnangePoint
					p.mb-0.contentText
						| Satış tarixindən başlayaraq 12 ay ərzində istehsalçı qüsurlu detalların və ya cihazın dəyişdirilməsi yolu ilə ( üsulu istehsalçı özü seçir) alıcını tam funksional cihazla 
						| təmin etməyi öz üzərinə öhdəlik götürür:
				li.warranty-item
					.mr-4.mt-0.bigOrnangePoint
					p.mb-0.contentText
						| Rahat idarəetmə
				li.warranty-item
					.mr-4.mt-0.bigOrnangePoint
					p.mb-0.contentText
						| Cihazın servis mərkəzinə təhvil verildiyi gündən 14 iş günü ərzində tam funksional cihazı müştəriyə qaytarmaq ( təmsilçi vasitəsi ilə göndərilən cihazlar 21 iş günü)
				li.warranty-item
					.mr-4.mt-0.bigOrnangePoint
					p.mb-0.contentText
						| Satış tarixindən başlayaraq 12 ay ərzində istehsalçı qüsurlu detalların və ya cihazın dəyişdirilməsi yolu ilə ( üsulu istehsalçı özü seçir) alıcını tam funksional cihazla 
						| təmin etməyi öz üzərinə öhdəlik götürür:
				li.warranty-item
					.mr-4.mt-0.bigOrnangePoint
					p.mb-0.contentText
						| Rahat idarəetmə
				li.warranty-item
					.mr-4.mt-0.bigOrnangePoint
					p.mb-0.contentText
						| Cihazın servis mərkəzinə təhvil verildiyi gündən 14 iş günü ərzində tam funksional cihazı müştəriyə qaytarmaq ( təmsilçi vasitəsi ilə göndərilən cihazlar 21 iş günü)
				li.warranty-item
					.mr-4.mt-0.bigOrnangePoint
					p.mb-0.contentText
						|Satış tarixindən başlayaraq 12 ay ərzində istehsalçı qüsurlu detalların və ya cihazın dəyişdirilməsi yolu ilə ( üsulu istehsalçı özü seçir) alıcını tam funksional cihazla 
						| təmin etməyi öz üzərinə öhdəlik götürür:
				li.warranty-item
					.mr-4.mt-0.bigOrnangePoint
					p.mb-0.contentText
						| Rahat idarəetmə
		include pug_template/footer.pug